@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
/* Import de la font Syne */

body * {
    font-family: 'syne', sans-serif;
    font-weight: 400;
    max-width: 1440px;
    margin: auto;
}

/* cacher titre et bordure */
.page .entry-header  
{
    display: none;
}

/* HEADER */

.header
{
    display: flex;
    background-color: #ffffff;
}

#logo
{
    margin-left: 45px;
    height: 80px;
    display: flex;
}

#logo .custom-logo
{
    height: 40px;
    width: 202px;
    object-fit: cover;
}

nav
{
    margin-right: 0;
}

nav a 
{
    outline: none;
    text-decoration: none;
    color: black;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

.menu-item a
{
    height: 80px;
    width: 200px;
    background: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* menu commander */
li.menu-item-32 a 
{
    color:#FFFFFF;
    width: 236px;
    height: 80px;
    background:#DC9F96;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

li.menu-item-32 span
{
    font-weight: 700 !important;
    font-size: 16px;
}

li.menu-item-32 a:hover 
{
    background-color: #C02E44;
    font-weight: 700 !important;
    font-size: 16px;
}

/* menu admin */
li.menu-item a:hover 
{
    font-weight: 700;
    font-size: 13px;
}


/* HOME */

.h1-home 
{
    color: #3B8E46;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    line-height: 46px !important;
    font-size: 38px !important;
    margin-top: 105px !important;
}

.flower-left .flower-right
{
    flex-basis: 10%;
}

.bottle-container
{
    flex-basis: 80% !important;
}

.flower-bottle-left 
{
    position: absolute;
    top: 485px;
    right: 735px;
    width: 400px;
    z-index: 1 !important;
}

.flower-bottle-right
{
    position: absolute;
    top: 485px;
    left: 720px;
    width: 400px; 
    z-index: 1 !important;
}

.bottle 
{   position: relative;
    z-index: 2 !important;
}

.bottle-home
{
    border-bottom-right-radius:400px 50px !important;
    border-bottom-left-radius:400px 50px !important;
    background-color: #EDE2DA !important;
    box-shadow: 0px 10px 0px 1px #e0d8d2;
}

.bottle-flowers
{
    border-bottom-right-radius: 400px 50px;
    border-bottom-left-radius: 400px 50px;
    background : #EDE2DA;
    margin-bottom: 30px !important;
}

.energy-container
{
    background-color: #FFFFFF;
}

.h2-home
{
    color: #3B8E46;
    margin-top: 50px !important;
}

.p-h2-home 
{
    margin-bottom: 82px !important;
    padding-top: 15px !important;
    line-height: 24px;
}

.h3-home
{
    color : #D2776A;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    margin-top: 57px !important;
}

.p-h3-home 
{
    margin-bottom: 45px !important;
    margin-top: -27px !important;
}
  
.fruit-column
{
    background-color: #EDE2DA !important;
    width: 54%;
}

.fruit-image
{
    width: 393px;
    height: 262px;
}

.legend
{
    color : #ffffff !important;
    text-transform: uppercase;
    font-weight: 800 !important;
    font-size: 48px !important;
    line-height: 58px;
}

.fraise
{
    margin-left: -30px !important;
    margin-right: -30px !important;
}

.citron
{
    margin-left: -35px !important;
    margin-right: -35px !important;
}

.pamplemousse
{
    margin-left: -40px !important;
    margin-right: -40px !important;
}


.fruits-row
{
    margin-top: 40px !important;
    margin-bottom: 17px !important;
}

.button a
{
    width: 198px !important;
    height: 55px !important;
    background: #E0B9B4 !important;
    border: none !important;
    border-radius: 5px !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    font-size: 15px !important;
}

.wpcf7-submit:hover
{
    background-color: #C02E44 !important;
    color: #FFFFFF !important;
}

.wp-container-15 
{
    border-bottom-right-radius: 400px 30px;
    border-bottom-left-radius: 400px 30px;
    background: #EDE2DA;
    padding-bottom: 47px !important;
}

.h4-home
{
    color: #3B8E46;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    margin-top: 115px !important;
    margin-bottom: 85px !important;
}

.picture-container
{
    flex-basis: 35% !important;
    padding-left: 13px ;
}

.text-container
{
    flex-basis: 58% !important;
    padding-top: 5px;
    padding-left: 0px ;
}

.fatiha-vero-marc
{
    width: 76% !important;
}

.picture 
{
    width: 125px;
}

.name
{
    color: #3B8E46;
}

.p-name
{
    line-height: 19.2px;
    font-size: 16px;
}

.bottles 
{
    background-color: #FFFFFF;
    margin-top: 80px !important;
}


/* NOUS RENCONTRER */
li.menu-item-33 span:hover 
{
    font-weight: 700;
    font-size: 13px;
}

.entry-content
{
   background : #EDE2DA;
   margin-top: 0px !important;
}

.who-is-planty-container 
{
    flex-basis: 50% !important;
    margin-bottom: 79px !important;
}

.flower-title-container
{
    flex-basis: 25% !important;
}

.third-column-container
{
    flex-basis: 25% !important;
}

.p-meet-us 
{
    line-height: 24px;
}

.wp-container-4 
{
    border-bottom-right-radius: 400px 80px;
    border-bottom-left-radius: 400px 80px;
    background : #EDE2DA;
}

.wp-block-group {
    background-color: #FFFFFF;
}

h2 
{
    font-family: 'syne', sans-serif !important;
    font-weight: 700 !important;
    font-size: 30px !important;
}

.h2-team 
{
    margin-top: 33px !important;
    margin-bottom: 17px !important;
}

.team-column-container
{
    flex-basis: 20% !important;
}

.team-megane-container
{
    flex-basis: 23% !important;
}

.team-brooke-container
{
    flex-basis: 23% !important;
}

.team-sylvie-container
{
    flex-basis: 23% !important;
}

.team-flower-container
{
    flex-basis: 20% !important;
}

.wp-image-48 {
    height: 167px !important;
    width: 167px !important;
}

.wp-image-49 {
    height: 167px !important;
    width: 167px !important;
}

.wp-image-50 {
    height: 167px !important;
    width: 167px !important;
}

.wp-element-caption
{
    font-weight: 700 !important;
    font-size: 20px !important;
}

.job
{
    margin-top: -30px !important;
}

.team-container
{
    margin-bottom: 75px !important;

}

.contact-us
{
    margin-top: 65px !important;
    margin-bottom: 47px !important;
}

.h1-meet-us
{
    color : #D2776A;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    line-height: 46px !important;
    font-size: 38px !important;
    margin-top: 185px !important;
    margin-bottom: -7px !important;
}

.wpcf7-form-control
{
    width: 100%;
    height: 237px;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-radius: 7px !important;
    background: #FFFFFF!important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04) !important;
}


.wpcf7-submit
{
    width: 198px !important;
    height: 55px !important;
    background: #E0B9B4 !important;
    color: #FFFFFF;
    border: none !important;
    border-radius: 5px !important;
    margin-top: 0px !important;
    font-size: 15px !important;
    display: block;
    margin: 0 auto;
}

.wpcf7-submit:hover 
{
    background-color: #C02E44 !important;
    color: #FFFFFF !important;
}


input
{
    height: 4em !important;
}

.wp-image-76 
{
    margin-top: 30px !important;

}

.flower-title
{
    position: absolute;
    right: 1165px;
    top: 185px;
    width: 190px;
}

.flower-team
{
    position: absolute;
    top: 765px;
    left: 1255px;
    width: 200px;
}

.flower-contact-form
{
    position: absolute;
    right: 870px;
    top: 1585px;
    width: 185px;
    height: 178px;
}


/* COMMANDER */

.h1-order
{
    color : #FFFFFF;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    line-height: 46px !important;
    font-size: 38px !important;
    margin-top: 69px !important;
    margin-bottom: 69px !important;
}

.separator
{   border: 0.5px solid #FFFFFF !important;
    width: 57% !important;
}

.background-container
{
    background-color: #3B8E46;
}

.h2-order
{
    width: 57% !important;
    color: #FFFFFF;
    margin-top: 40px !important;
    margin-bottom: 7px !important;
    background-color: #3B8E46;
}

.fruit-image-order
{
    width: 193px;
    height: 129px;
}

.fruit-column-order
{
    flex-basis: 25% !important;
}

.legend-order
{
    text-transform: uppercase;
    font-weight: 800 !important;
    font-size: 20px !important;
    line-height: 24px;
}

.fruits-container-order
{
    width: 57% !important;
}

.fruits
{
    background-color: #3B8E46;
}

.fraise-legend-order
{
    margin-left: -36px !important;
    margin-right: -36px !important;
}

.pamplemousse-legend-order
{
    margin-left: -50px !important;
    margin-right: -50px !important;
}

.framboise-legend-order
{
    margin-left: -25px !important;
    margin-right: -25px !important;
}

.citron-legend-order
{
    margin-left: -41px !important;
    margin-right: -41px !important;
}

.fruits-separator
{
    background-color: #3B8E46;
}

.form-title
{
    color: #FFFFFF;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px; 
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wp-block-contact-form-7-contact-form-selector
{
   width: 57% !important;
   background: #3B8E46 !important;
   max-width: none !important;
   padding-bottom: 45px;
}

.two-columns 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 95px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.h2-form-order
{
    background-color: #3B8E46;
}

.separator-rotation
{
    transform: rotate(90deg); 
    position: absolute;
    left: 530px;
    top : 900px;
    border: 0.5px solid #FFFFFF !important;
    width: 30% !important;
}

.info
{
    margin-left: -20px !important;
}

.delivery
{
    margin-left: 6px !important;
}

.button-row
{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    height: 56px;
    margin-top: -15px;
    margin-bottom: -20px;
}

.input-quantity input
{
    width: 53px;
    height: 56px !important;
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    border:none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    font-weight: 400;
    font-family:'Inter';
    font-size: 16px;
    text-align: center;
    z-index: 2 !important;
    margin-top: 15px !important;
    margin-left: 12% !important;
}

.ok-button input
{
    width: 100px !important;
    height: 56px !important;
    border-radius: 5px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    text-align: center;
    margin-left: 2%;
    margin: auto;
}

.buttons-container
{
    width: 57% !important;
}

.button-column
{
    flex-basis: 25% !important;
}

.white-button-separation
{
    border: 1px solid #FFFFFF;
    width: 90%;
}

.arrow-button
{
width: 30px;
height: 56px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 0px 5px 5px 0px;
background:#DC9F96;
color:#FFFFFF;
font-weight: 700;
margin-top: 0px !important;
margin-right: -5%;
margin-left: -18%;
justify-content: center;
z-index: 1 !important;
}

.plus {
    margin-bottom: -4px !important
}

.minus {
    margin-top: -4px !important
}

.wpcf7-response-output
{
    display: none;
}


/* FOOTER */

footer
{
    margin-top: -30px !important;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer nav
{ 
    margin: auto !important;
}

footer ul
{
    padding-left: 0;
}

footer nav a
{
    height: 60px !important;
} 

.entry-footer
{
    display: none !important;
}



/* MEDIA QUERIES */

@media all and (max-width: 1261px)
{
    /* home page */

    .flower-bottle-left 
    {
        top: 500px;
        left: 278px;
    }

    .flower-bottle-right
    {
        top: 500px;
        left: 565px;
    }

    .flower-bottle-right img, .flower-bottle-left img
    {
        width: 70%;
    }

    .bottle img
    {
        width: 70%;
    }

    .fruit-image
    {
        width: 100% !important;
    }

    .pamplemousse
    {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .legend
    {
        font-size: 29px !important;
    }

    .picture-container
    {
        margin-right: 23px !important;
    }

    .p-name
    {
        font-size : 13px;
    }

     /* nous rencontrer */

    .flower-title, .flower-team, .flower-contact-form
    {
        display: none;
    }

    .p-meet-us
    {
        font-size: 19px !important;
    }

    /* commander */
    .fruit-image-order
    {
        width: 100% !important;
    }

    .legend-order
    {
        font-size: 11.5px !important;
    }

    .separator-rotation
    {
        display: none;
    }

    .fraise-legend-order
    {
        margin-left: -57px !important;
        margin-right: -57px !important;
    }

    .pamplemousse-legend-order
    {
        margin-left: -44.5px !important;
        margin-right: -44.5px !important;
    }

    .framboise-legend-order
    {
        margin-left: -54px !important;
        margin-right: -54px !important;
    }

    .citron-legend-order
    {
        margin-left: -59px !important;
        margin-right: -59px !important;
    }

    .button-row
    {
        width: 100% !important;
    }

    .input-quantity input
    {
        width: 40px;
    }

    .ok-button input
    {
        width: 60px !important;
        padding-left: 20px !important;
        margin-left: 7px;
    }

    .arrow-button
    {
        margin-left: -21px !important;
    }
}

@media all and (max-width: 1210px)
{
    /* home page */

    .flower-bottle-left, .flower-bottle-right
    {
        display: none;
    }

    .pamplemousse
    {
        margin-left: -10px !important;
        margin-right: -10px !important;
    }

    .picture-container
    {
        display: none;
    }

    .p-name
    {
        font-size : 16px;
    }

    .bottle-flowers
    {
        margin-bottom: 0px !important;
    }

     /* nous rencontrer*/

    .h1-meet-us
    {
        margin-top: 100px !important;
    }

    .p-meet-us
    {
        font-size: 18px !important;
    }

    /* commander */

    .delivery, .info
    {
        font-size: 22px !important;
    }
} 

@media all and (max-width: 1080px)
{
     /* commander */

    .input-quantity input
    {
        width: 80%;
        margin-left: 30px !important;
    }

    .ok-button input
    {
        width: 50% !important;
        padding-left: 10px !important;
        margin-left: 3px;
    }

    .arrow-button
    {
        margin-left: -4px !important;
    }
}

@media all and (max-width: 923px)
{
    /* home page */

    .header
    {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    #logo
    {
        margin: auto;
    }

    nav
    {
        margin: auto;
    }

    nav ul
    {
        display: flex;
        flex-direction: column;
        padding-left: 0 !important;
    }

    #menu-item-32 a /* commander */
    {
        display: inline-block;
        text-align: center;
        margin-bottom: -20px;
    }

    #menu-item-33 span:hover, #menu-item-32 span:hover
    {
        font-size: 15px !important;
    }

    #menu-header-menu span
    {
        font-size: 20px !important;
    }

    #menu-item-32 span, li.menu-item-32 a:hover
    {
        background:none;
        color:#DC9F96;
    }

    li.menu-item-32 a 
    {
        background:none;
    }

    .menu-admin
    {
        display: none;
    }

    .h1-home
    {
        font-size: 30px !important;
        margin-top: 35px !important;
        line-height: 38px !important;
        margin-bottom: -5% !important;
    }

    .legend
    {
        font-size: 17px !important;
    }

    .h4-home
    {
        font-size: 24px !important;
        margin-top: 25px !important;
        margin-bottom: 45px !important;
    }

    /* footer */

    .menu-item-30
    {
        font-size: 15px;
    }

    /* nous rencontrer */

    .p-meet-us
    {
        font-size: 17px !important;
    }

    .job
    {
        font-size: 16px !important;
    }

    /* commander*/

    .delivery, .info
    {
        font-size: 19px !important;
    }
   
    .input-quantity input
    {
        width: 45% !important;
        margin-left: 40px !important;
    }

    .ok-button input
    {
        margin-left: -5px;
    }

    .arrow-button
    {
        margin-left: -18px !important;
    }
}

@media all and (max-width: 827px)
{
    /* home page */

    .legend
    {
        font-size: 14.5px !important;
    }

    .fraise-column
    {
        margin: 0 !important;
    }

    /* nous rencontrer */

    .job
    {
        font-size: 15px !important;
    }

     /* commander*/

     .h2-order
     {
        width: 80% !important;
     }

    .delivery, .info
    {
        font-size: 18px !important;
        margin-top: -15px !important;
    }

    .two-columns label
    {
        font-size: 16px !important;
    }

    .fruit-image-order
    {
        width: 100% !important;
    }

    .fruits-container-order
    {
        width: 80% !important;
    }

    .buttons-container
    {
        width: 80% !important;
    }

    .wp-block-contact-form-7-contact-form-selector
    {
        width: 80% !important;
    }

    .button-row
    {
        margin-top: -20px;
    }

    .input-quantity input
    {
        margin-left: 10px !important;
        width: 100% !important;
    }

    .arrow-button
    {
        margin-left: -14px !important;
    }

    .ok-button input
    {
        margin-left: -5px;
        width: 90% !important;
        padding-left: 18px !important;
    }

    .ok-button span
    {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .separator
    {
        width : 80% !important;
    }
}

@media all and (max-width: 781px)
{
    /* home page */

    .h1-home
    {
        margin-bottom: -10% !important;
    }

    .bottle img
    {
        width: 60%;
    }

    .legend
    {
        font-size: 22px !important;
    }

    .fraise-column, .framboise-column
    {
        margin-bottom: -10px !important;
    }

    .p-name
    {
        font-size: 18px !important;
        margin-bottom: -50px !important;
    }

    /* nous rencontrer*/

    .h1-meet-us
    {
        font-size: 27px !important;
    }

    .p-meet-us
    {
        margin-top: -30px !important;
        margin-bottom: -20px !important;
        font-size: 17px !important;
    }

    /* commander*/

    .h2-order
    {
        display: flex;
        flex-wrap: nowrap !important;
    }

    .fruits-container-order
    {
        display: flex !important;    
        flex-wrap: nowrap !important;
    }

    .buttons-container
    {
        display: flex !important;    
        flex-wrap: nowrap !important;
    }

    .ok-button input
    {
        margin-left: 0px;
        width: 65% !important;
        padding-left: 10px !important;
    }
   
    .input-quantity input
    {
        margin-right: 50px !important;
        margin-left: 20px !important;
        width: 50% !important;
    }

    .arrow-button
    {
        margin-left: -50px !important;
    }
   
    .delivery, .info
    {
        text-align: left;
        font-size: 20px !important;
    }
}

@media all and (max-width: 648px)
{
    /* home page */

    .h1-home
    {
        font-size: 23px !important;
    }

    .p-h2-home, .p-h3-home
    {
        font-size: 17px !important; 
    }

    .legend
    {
        font-size: 34px !important;
    }

    /* commander */

    .legend-order
    {
        font-size: 10px !important;
    }

    .ok-button input
    {
        margin-left: -21px !important;
        margin-right: 0px !important;
    }

    .ok-button
    {
        width: 50% !important;
        z-index: 0;
    }

    .input-quantity input
    {
        margin-left: -25px !important;
        width: 100% !important;
    }

    .arrow-button
    {
        margin-left: -55px !important;
        border-radius: 0;
    }

    .button-row
    {
        width: 100% !important;
    }

    .delivery, .info
    {
        font-size: 18px !important;
    }
}

@media all and (max-width: 578px)

{
    /* commander */

    .h1-order, .first-h2-order
    {
        font-size: 25px !important;
        margin-bottom: 10px !important;
    }

    .legend-order
    {
        font-size: 9px !important;
    }

    .delivery, .info
    {
        font-size: 16px !important;
    }

    .fruits-container-order
    {
        width: 70% !important;
    }

    .buttons-container
    {
        width: 70% !important;
    }

    .wp-block-contact-form-7-contact-form-selector
    {
        width: 70% !important;
    }

    .h2-order
    {
        width: 100% !important;
        display: flex;
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    .ok-button input
    {
        margin-left: -21px !important;
        margin-right: 0px !important;
    }

    .ok-button
    {
        width: 150% !important;
        z-index: 0;
    }

    .input-quantity input
    {
        margin-left: 15px !important;
        width: 40% !important;
    }

    .arrow-button
    {
        margin-left: -65px !important;
    }

    .two-columns label
    {
        font-size: 13px !important;
    }

    .info
    {
        font-size: 18px !important;
        text-align: center !important;
        margin-left: 0 !important;
    }

    .delivery
    {
       display: none;
    }

    #wpcf7-f37-p17-o5
    {
        margin-top: -50px !important;
    }

    .separator
    {
        width: 70% !important;
    }

    .two-columns
    {
        column-gap: 25px !important;
    }
}

@media all and (max-width: 490px)

{
    /* home page */

    .h1-home
    {
        font-size: 16px !important;
        line-height: 23px !important;
        margin-bottom: -15% !important;
    }
  
    .h2-home
    {
        font-size: 20px !important;

    }

    .h3-home, .h4-home
    {
        font-size: 16px !important;
    }

    .h4-home
    {
        margin-bottom: -20px !important;
    }
    
    .legend
    {
        font-size: 22px !important;
    }

    .p-name, .name, .p-h2-home, .p-h3-home
    {
        font-size: 15px !important; 
    }

    .p-h2-home
    {
        margin-bottom: 60px !important;
    }

    /* nous rencontrer*/

    .h1-meet-us
    {
        font-size: 17px !important;
        margin-top: 30px !important;
    }

    .p-meet-us
    {
        margin-top: -50px !important;
        font-size: 15px !important;
    }

    /* commander */

    .legend-order
    {
        font-size: 8.5px !important;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    .fraise-legend-order, .pamplemousse-legend-order, .framboise-legend-order, .citron-legend-order
    {
        margin-left: -35px !important;
    }

    .arrow-button
    {
        width: 50% !important;
    }

    .two-columns
    {
        column-gap: 20px !important;
    }

    .ok-button span
    {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .input-quantity
    {
        margin-left: -15px !important;
    }
}

@media all and (max-width: 405px)

{
    /* commander */

    .fruits-container-order
    {
        width: 80% !important;
    }

    .wp-block-contact-form-7-contact-form-selector
    {
        width: 80% !important;
    }

    .buttons-container
    {
        width: 80% !important;
    }

    .separator
    {
        width: 80% !important;
    }

    .button-row
    {
        margin-top: 30px !important;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }

    .ok-button input
    {
        margin-left: -25px !important;
        margin-top: 5px !important;
    }

    .input-quantity input
    {
        margin-left: 34px !important;
    }

    .arrow-button
    {
        margin-left: 30px !important;
        margin-top: -71px !important;
        border-radius: 0 5px 5px 0;
    }
}

@media all and (max-width: 370px)

{
    /* home page */

    .h1-home
    {
        font-size: 14px !important;
        margin-bottom: -20% !important;
    }

    .p-h2-home, .p-h3-home
    {
        font-size: 12.8px !important; 
    }

    .legend
    {
        font-size: 17px !important;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    .fraise
    {
        margin-left: 17px !important;
    }

    .pamplemousse
    {
        margin-left: 15px !important;
    }

    .framboise
    {
        margin-left: -4px !important;
    }

    .citron
    {
        margin-left: -5px !important;
    }


    .h3-home, .h4-home
    {
        font-size: 15px !important;
    }

    /* commander */

    .h1-order
    {
        margin-top: 20px !important;
    }

    .fruits-container-order
    {
        width: 85% !important;
    }

    .wp-block-contact-form-7-contact-form-selector
    {
        width: 85% !important;
    }

    .buttons-container
    {
        width: 85% !important;
    }

    .separator
    {
        width: 85% !important;
    }

    .ok-button input
    {
        margin-left: -19px !important;
        margin-top: 15px !important;
    }

    .ok-button span
    {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .input-quantity input
    {
        margin-left: 15px !important;
        margin-right: 10px !important;
        width: 100% !important;
        height: 50% !important;
    }

    .arrow-button
    {
        margin-left: -1px !important;
        margin-top: 0px !important;
        margin-bottom: 5px !important;
        border-radius: 5px;
        width: 78% !important;
    }

    .button-row
    {
        margin-top: 55px !important;
        margin-bottom: 10px !important;
    }

    .two-columns
    {
        column-gap: 10px !important;
    }
}

@media all and (max-width: 320px)

{
    /* home page */

    .fraise
    {
        margin-left: 3px !important;
    }

    .pamplemousse
    {
        margin-left: 2px !important;
    }

    .framboise
    {
        margin-left: -18px !important;
    }

    .citron
    {
        margin-left: -17px !important;
    }

    /* commander */

    .ok-button input
    {
        margin-left: -24px !important;
    }

    .input-quantity input
    {
        margin-right: 8px !important;
    }

    .arrow-button
    {
        margin-left: -2px !important;
        width: 84% !important;
    }

    .two-columns
    {
        column-gap: 5px !important;
    }
}