@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
/* Import de la font Syne */

body * {
    font-family: 'syne', sans-serif;
    font-weight: 400;
    max-width: 1440px;
    margin: auto;
}

/* HEADER */

.header
{
    display: flex;
    background-color: #ffffff;
}

#logo
{
    margin-left: 45px;
    height: 80px;
    display: flex;
}

#logo .custom-logo
{
    height: 40px;
    width: 202px;
    object-fit: cover;
}

nav{
    margin-right: 0;
}

nav a 
{
    outline: none;
    text-decoration: none;
    color: black;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

.menu-item a
{
    height: 80px;
    width: 200px;
    background: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/* home */

.h1-home 
{
    color: #3B8E46;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    line-height: 46px !important;
    font-size: 38px !important;
    margin-top: 105px !important;
}

.flower-bottle-left 
{
    position: absolute;
    top: 485px;
    right: 735px;
    width: 400px;
    z-index: 1 !important;
}

.flower-bottle-right
{
    position: absolute;
    top: 485px;
    left: 720px;
    width: 400px; 
    z-index: 1 !important;
}

.bottle 
{   position: relative;
    z-index: 2 !important;
}

.bottle-home
{
    border-bottom-right-radius:200px 50px !important;
    border-bottom-left-radius:200px 50px !important;
    background-color: red !important;
}

.h2-home
{
    color: #3B8E46;
    background-color: #FFFFFF;
    margin-top: 72px !important;
}

.p-h2-home 
{
    margin-bottom: 72px !important;
    padding-top: 10px !important;
}

.h3-home
{
    color : #D2776A;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    margin-top: 57px !important;
}

.p-h3-home 
{
    margin-bottom: 45px !important;
    margin-top: -27px !important;
}
  
.fruit-column
{
    width: 55% !important;
    background-color: #EDE2DA !important;
}

.legend
{
    color : #ffffff !important;
    text-transform: uppercase;
    font-weight: 800 !important;
    font-size: 48px !important;
}

.legend2 
{
    color : #ffffff !important;
    text-transform: uppercase;
    font-weight: 800 !important;
    font-size: 48px !important;
}



/* commander */
li.menu-item-32 a 
{
    color:#FFFFFF;
    width: 236px;
    height: 80px;
    background:#DC9F96;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

li.menu-item-32 span
{
    font-weight: 700 !important;
    font-size: 16px;
}

li.menu-item-32 a:hover 
{
    background-color: #C02E44;
    font-weight: 700 !important;
    font-size: 16px;
}

/* nous rencontrer */
li.menu-item-33 span:hover 
{
    font-weight: 700;
    font-size: 13px;
}

.entry-content
{
   background : #EDE2DA;
   margin-top: 0px !important;
}

.who-is-planty-container 
{
    flex-basis: 50% !important;
    margin-bottom: 75px !important;
}

.flower-title-container
{
    flex-basis: 25% !important;
}

.third-column-container
{
    flex-basis: 25% !important;
}


.wp-container-4
{
    border-bottom-right-radius: 400px 80px;
    border-bottom-left-radius: 400px 80px;
    background : #EDE2DA;
}

.wp-block-group {
    background-color: #FFFFFF;
}

h2 
{
    font-family: 'syne', sans-serif !important;
    font-weight: 700 !important;
    font-size: 30px !important;
}

.h2-team 
{
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}

.team-column-container
{
    flex-basis: 20% !important;
}

.team-megane-container
{
    flex-basis: 23% !important;
}

.team-brooke-container
{
    flex-basis: 23% !important;
}

.team-sylvie-container
{
    flex-basis: 23% !important;
}

.team-flower-container
{
    flex-basis: 20% !important;
}

.wp-image-48 {
    height: 167px !important;
    width: 167px !important;
}

.wp-image-49 {
    height: 167px !important;
    width: 167px !important;
}

.wp-image-50 {
    height: 167px !important;
    width: 167px !important;
}

.wp-element-caption
{
    font-weight: 700 !important;
    font-size: 20px !important;
}

.job
{
    margin-top: -30px !important;
}

.team-container
{
    margin-bottom: 75px !important;

}

.contact-us
{
    margin-top: 65px !important;
    margin-bottom: 47px !important;
}
 

/* admin */
li.menu-item a:hover 
{
    font-weight: 700;
    font-size: 13px;
}


.margin
{
    margin: auto;
}


/*
.page .entry-title 
{
    display: none;
}
*/

/* cacher titre et bordure */
.page .entry-header  
{
    display: none;
}


.h1-meet-us
{
    color : #D2776A;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    line-height: 46px !important;
    font-size: 38px !important;
    margin-top: 185px !important;
    margin-bottom: -7px !important;
}

.wpcf7-form-control
{
    width: 100%;
    height: 237px;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-radius: 7px !important;
    background: #FFFFFF!important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04)!important;
}


.wpcf7-submit
{
    width: 198px !important;
    height: 55px !important;
    background: #E0B9B4 !important;
    color: #FFFFFF;
    border: none !important;
    border-radius: 5px !important;
    margin-top: 0px !important;
    font-size: 15px !important;
    margin-left: 27%;
}

.wpcf7-submit:hover 
{
    background-color: #C02E44 !important;
    color: #FFFFFF !important;
}


input
{
    height: 4em !important;
}

.wp-image-76 
{
    margin-top: 30px !important;

}

.flower-title
{
    position: absolute;
    right: 1165px;
    top: 185px;
    width: 190px;
}

.flower-team
{
    position: absolute;
    top: 800px;
    left: 1260px;
    width: 190px;
}

.flower-contact-form
{
    position: absolute;
    right: 870px;
    top: 1585px;
    width: 185px;
    height: 178px;
}

/* FOOTER */
#footer 
{
    text-align: center !important;
    background-color: #ffffff;
    display: flex !important;
    justify-content: center !important;
    margin-right: 50px;
    margin-top: -30px !important;
}

footer nav a
{
    height: 60px !important;
} 

.entry-footer
{
    display: none !important;
}



