@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
/* Import de la font Syne */

body * {
    font-family: 'syne', sans-serif;
    font-weight: 400;
    max-width: 1440px;
    margin: auto;
}

/* HEADER */

.header
{
    display: flex;
    background-color: #ffffff;
}

#logo
{
    margin-left: 45px;
    height: 80px;
    display: flex;
}

#logo .custom-logo
{
    height: 40px;
    width: 202px;
    object-fit: cover;
}

nav{
    margin-right: 0;
}

nav a 
{
    outline: none;
    text-decoration: none;
    color: black;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

.menu-item a
{
    height: 80px;
    width: 200px;
    background: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/* home */

.h1-home 
{
    color: #3B8E46;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    line-height: 46px !important;
    font-size: 38px !important;
    margin-top: 105px !important;
}

.flower-bottle-left 
{
    position: absolute;
    top: 485px;
    right: 735px;
    width: 400px;
    z-index: 1 !important;
}

.flower-bottle-right
{
    position: absolute;
    top: 485px;
    left: 720px;
    width: 400px; 
    z-index: 1 !important;
}

.bottle 
{   position: relative;
    z-index: 2 !important;
}

.bottle-home
{
    border-bottom-right-radius:400px 50px !important;
    border-bottom-left-radius:400px 50px !important;
    background-color: #EDE2DA !important;
    box-shadow: 0px 10px 0px 1px #e0d8d2;
}

.bottle-flowers
{
    border-bottom-right-radius: 400px 50px;
    border-bottom-left-radius: 400px 50px;
    background : #EDE2DA;
    margin-bottom: 30px !important;
}

.energy-container
{
    background-color: #FFFFFF;
}

.h2-home
{
    color: #3B8E46;
    margin-top: 50px !important;
}

.p-h2-home 
{
    margin-bottom: 82px !important;
    padding-top: 15px !important;
    line-height: 24px;
}

.h3-home
{
    color : #D2776A;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    margin-top: 57px !important;
}

.p-h3-home 
{
    margin-bottom: 45px !important;
    margin-top: -27px !important;
}
  
.fruit-column
{
    background-color: #EDE2DA !important;
    width: 54%;
}

.fruit-image
{
    width: 393px;
    height: 262px;
}

.legend
{
    color : #ffffff !important;
    text-transform: uppercase;
    font-weight: 800 !important;
    font-size: 48px !important;
    line-height: 58px;
}

.fraise
{
    margin-left: -30px !important;
    margin-right: -30px !important;
}

.pamplemousse
{
    margin-left: -35px !important;
    margin-right: -35px !important;
}

.citron
{
    margin-left: -35px !important;
    margin-right: -35px !important;
}

.fruits-row
{
    margin-top: 40px !important;
    margin-bottom: 17px !important;
}

.button a
{
    width: 198px !important;
    height: 55px !important;
    background: #E0B9B4 !important;
    border: none !important;
    border-radius: 5px !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    font-size: 15px !important;
}

.wpcf7-submit:hover
{
    background-color: #C02E44 !important;
    color: #FFFFFF !important;
}

.wp-container-15 
{
    border-bottom-right-radius: 400px 30px;
    border-bottom-left-radius: 400px 30px;
    background: #EDE2DA;
    padding-bottom: 47px !important;
}

.h4-home
{
    color: #3B8E46;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    margin-top: 115px !important;
    margin-bottom: 85px !important;
}

.picture-container
{
    flex-basis: 35% !important;
    padding-left: 13px ;
}

.text-container
{
    flex-basis: 58% !important;
    padding-top: 5px;
    padding-left: 0px ;
}

.fatiha-vero-marc
{
    width: 76% !important;
}

.picture 
{
    width: 125px;
}

.name
{
    color: #3B8E46;
}

.p-name
{
    line-height: 19.2px;
    font-size: 16px;
}

.bottles 
{
    background-color: #FFFFFF;
    margin-top: 80px !important;
}

/* menu commander */
li.menu-item-32 a 
{
    color:#FFFFFF;
    width: 236px;
    height: 80px;
    background:#DC9F96;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

li.menu-item-32 span
{
    font-weight: 700 !important;
    font-size: 16px;
}

li.menu-item-32 a:hover 
{
    background-color: #C02E44;
    font-weight: 700 !important;
    font-size: 16px;
}

/* nous rencontrer */
li.menu-item-33 span:hover 
{
    font-weight: 700;
    font-size: 13px;
}

.entry-content
{
   background : #EDE2DA;
   margin-top: 0px !important;
}

.who-is-planty-container 
{
    flex-basis: 50% !important;
    margin-bottom: 79px !important;
}

.flower-title-container
{
    flex-basis: 25% !important;
}

.third-column-container
{
    flex-basis: 25% !important;
}

.p-meet-us 
{
    line-height: 24px;
}

.wp-container-4 
{
    border-bottom-right-radius: 400px 80px;
    border-bottom-left-radius: 400px 80px;
    background : #EDE2DA;
}

.wp-block-group {
    background-color: #FFFFFF;
}

h2 
{
    font-family: 'syne', sans-serif !important;
    font-weight: 700 !important;
    font-size: 30px !important;
}

.h2-team 
{
    margin-top: 33px !important;
    margin-bottom: 17px !important;
}

.team-column-container
{
    flex-basis: 20% !important;
}

.team-megane-container
{
    flex-basis: 23% !important;
}

.team-brooke-container
{
    flex-basis: 23% !important;
}

.team-sylvie-container
{
    flex-basis: 23% !important;
}

.team-flower-container
{
    flex-basis: 20% !important;
}

.wp-image-48 {
    height: 167px !important;
    width: 167px !important;
}

.wp-image-49 {
    height: 167px !important;
    width: 167px !important;
}

.wp-image-50 {
    height: 167px !important;
    width: 167px !important;
}

.wp-element-caption
{
    font-weight: 700 !important;
    font-size: 20px !important;
}

.job
{
    margin-top: -30px !important;
}

.team-container
{
    margin-bottom: 75px !important;

}

.contact-us
{
    margin-top: 65px !important;
    margin-bottom: 47px !important;
}
 

/* admin */
li.menu-item a:hover 
{
    font-weight: 700;
    font-size: 13px;
}


.margin
{
    margin: auto;
}


/*
.page .entry-title 
{
    display: none;
}
*/

/* cacher titre et bordure */
.page .entry-header  
{
    display: none;
}


.h1-meet-us
{
    color : #D2776A;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    line-height: 46px !important;
    font-size: 38px !important;
    margin-top: 185px !important;
    margin-bottom: -7px !important;
}

.wpcf7-form-control
{
    width: 100%;
    height: 237px;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-radius: 7px !important;
    background: #FFFFFF!important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04) !important;
}


.wpcf7-submit
{
    width: 198px !important;
    height: 55px !important;
    background: #E0B9B4 !important;
    color: #FFFFFF;
    border: none !important;
    border-radius: 5px !important;
    margin-top: 0px !important;
    font-size: 15px !important;
    display: block;
    margin: 0 auto;
}

.wpcf7-submit:hover 
{
    background-color: #C02E44 !important;
    color: #FFFFFF !important;
}


input
{
    height: 4em !important;
}

.wp-image-76 
{
    margin-top: 30px !important;

}

.flower-title
{
    position: absolute;
    right: 1165px;
    top: 185px;
    width: 190px;
}

.flower-team
{
    position: absolute;
    top: 765px;
    left: 1255px;
    width: 200px;
}

.flower-contact-form
{
    position: absolute;
    right: 870px;
    top: 1585px;
    width: 185px;
    height: 178px;
}


/* PAGE COMMANDER */

.h1-order
{
    color : #FFFFFF;
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    line-height: 46px !important;
    font-size: 38px !important;
    margin-top: 69px !important;
    margin-bottom: 69px !important;
}

.separator
{   border: 0.5px solid #FFFFFF !important;
    width: 60% !important;
}

.background-container
{
    background-color: #3B8E46;
}

.h2-order
{
    width: 60% !important;
    color: #FFFFFF;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    background-color: #3B8E46;
}

.fruit-image-order
{
    width: 180px;
    height: auto !important;
}

.legend-order
{
    text-transform: uppercase;
    font-weight: 800 !important;
    font-size: 20px !important;
    line-height: 24px;
}

.fruit-column-order
{
    width: 80% !important;
}

.fruits
{
    background-color: #3B8E46;
}

.fraise-legend-order
{
    margin-left: -43px !important;
    margin-right: -43px !important;
}

.fraise.order 
{

}

.pamplemousse-legend-order
{
    margin-left: -48px !important;
    margin-right: -48px !important;
}

.framboise-legend-order
{
    margin-left: -30px !important;
    margin-right: -30px !important;
}

.citron-legend-order
{
    margin-left: -40px !important;
    margin-right: -40px !important;
}

.fruits-separator
{
    background-color: #3B8E46;
}

.form-title
{
    color: #FFFFFF;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px; 
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wp-block-contact-form-7-contact-form-selector
{
   width: 60% !important;
   background: #3B8E46 !important;
   max-width: none !important;
   padding-bottom: 45px;
}

.two-columns 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 95px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.h2-form-order
{
    background-color: #3B8E46;
}

.separator-rotation
{
    transform: rotate(90deg); 
    position: absolute;
    left: 530px;
    top : 890px;
    border: 0.5px solid #FFFFFF !important;
    width: 30% !important;
}

.info
{
    margin-left: -20px !important;
}

.delivery
{
    margin-left: 6px !important;
}

/* FOOTER */
#footer 
{
    text-align: center !important;
    background-color: #ffffff;
    display: flex !important;
    justify-content: center !important;
    margin-right: 50px;
    margin-top: -30px !important;
}

footer nav a
{
    height: 60px !important;
} 

.entry-footer
{
    display: none !important;
}



